@{
    ViewData["Title"] = "Retail Operation Setup";
}
<div class="wrapper">

    <div class="full-page pricing-page section-image" data-image="../../assets/img/bg15.jpg">



        <div class="content">

            <div class="container">

                <div class="row" id="row-image">
                    <div class="col-md-12">
                        <div class="card card-login card-plain">

                            <div class="card-header ">
                                <div class="logo-container">
                                    <img src="../../assets/img/now-logo.png" alt="">
                                </div>
                            </div>

                            <div class="card-body ">
                                <div class="pull-left">
                                    <h6><a href="#pablo" class="link footer-link">Search Property</a></h6>
                                </div>
                                <br />
                                <br />
                                <div class="input-group no-border form-control-lg">
                                    <span class="input-group-addon">
                                        <i class="now-ui-icons users_circle-08"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Enter City or State...">
                                </div>
                            </div>

                            <div class="card-body ">
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="input-group no-border form-control-lg">
                                            <span class="input-group-addon">
                                                <i class="now-ui-icons text_caps-small"></i>
                                            </span>
                                            <input type="text" placeholder="Type..." class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="input-group no-border form-control-lg">
                                            <span class="input-group-addon">
                                                <i class="now-ui-icons text_caps-small"></i>
                                            </span>
                                            <input type="text" placeholder="Bed..." class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="input-group no-border form-control-lg">
                                            <span class="input-group-addon">
                                                <i class="now-ui-icons text_caps-small"></i>
                                            </span>
                                            <input type="text" placeholder="Min Price..." class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="input-group no-border form-control-lg">
                                            <div class="input-group no-border form-control-lg">
                                                <span class="input-group-addon">
                                                    <i class="now-ui-icons text_caps-small"></i>
                                                </span>
                                                <input type="text" placeholder="Max Price..." class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="card-footer ">
                                <div class="row">

                                    <div class="col-md-4">

                                        &nbsp;

                                    </div>
                                    <div class="col-md-4">

                                        <a href="#pablo" class="btn btn-primary btn-round btn-lg btn-block mb-3">Search</a>

                                    </div>
                                    <div class="col-md-4">

                                        &nbsp;

                                    </div>

                                </div>


                                <div class="pull-left">
                                    <h6><a href="#pablo" class="link footer-link">Create Account</a></h6>
                                </div>

                                <div class="pull-right">
                                    <h6><a href="#pablo" class="link footer-link">Need Help?</a></h6>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>

        </div>



    </div>

</div>

<div class="wrapper wrapper-full-page ">

    <div class="full-page2 pricing-page section-image" style="background-color:rgba(0,0,0,.6)">



        <div class="content">

            <div class="container">


                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <h2 class="title">Our Services</h2>
                        <h5 class="description">
                            @* You have Free Unlimited Updates and Premium Support on each package.*@
                        </h5>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="card card-pricing card-plain">

                            <h3 class="card-title">LEASE</h3>

                            <div class="card-body">

                                <div class="card-icon icon-warning ">
                                    <i class="now-ui-icons media-1_button-power"></i>
                                </div>


                                @* <ul>
                                    <li>Complete documentation</li>
                                    <li>Working materials in Sketch</li>
                                </ul>*@

                            </div>

                            @*
                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-round btn-neutral btn-warning">Add to Cart</a>
                            </div>*@

                        </div>


                    </div>


                    <div class="col-lg-3 col-md-6">
                        <div class="card card-pricing card-plain">

                            <h3 class="card-title">MORTGAGE</h3>

                            <div class="card-body">

                                <div class="card-icon icon-warning ">
                                    <i class="now-ui-icons objects_diamond"></i>
                                </div>

                            </div>

                            @*
                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-round btn-neutral btn-warning">Add to Cart</a>
                            </div>*@

                        </div>


                    </div>

                    <div class="col-lg-3 col-md-6">

                        <div class="card card-pricing card-plain">

                            <h3 class="card-title">PROPERTY DEVELOPMENT</h3>

                            <div class="card-body">

                                <div class="card-icon icon-primary ">
                                    <i class="now-ui-icons media-2_sound-wave"></i>
                                </div>




                            </div>


                            @* <div class="card-footer">
                                <a href="#pablo" class="btn btn-round btn-primary">Add to Cart</a>
                            </div>*@

                        </div>

                    </div>




                    <div class="col-lg-3 col-md-6">


                        <div class="card card-pricing card-plain">

                            <h3 class="card-title">REAL ESTATE CONSULTING</h3>

                            <div class="card-body">

                                <div class="card-icon icon-success ">
                                    <i class="now-ui-icons education_atom"></i>
                                </div>


                            </div>

                        </div>

                    </div>

                    @* <div class="col-lg-3 col-md-6">



                         <div class="card card-pricing card-plain">

                        <h6 class="card-category"> Extra Pack</h6>

                        <div class="card-body">

                            <div class="card-icon icon-danger ">
                                <i class="now-ui-icons education_atom"></i>
                            </div>
                            <h3 class="card-title">
                                159$
                            </h3>


                            <ul>
                                <li>Complete documentation</li>
                                <li>2GB cloud storage</li>
                            </ul>

                        </div>


                        <div class="card-footer">
                            <a href="#pablo" class="btn btn-round btn-neutral btn-danger">Add to Cart</a>
                        </div>

                    </div>


                            </div> *@

                </div>
            </div>

        </div>

        @*   <footer class="footer">
            <div class="container-fluid">
                <nav>
                    <ul>
                        <li>
                            <a href="https://www.creative-tim.com/">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://presentation.creative-tim.com/">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com/">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>, Designed by <a href="https://www.invisionapp.com/" target="_blank">Invision</a>. Coded by <a href="https://www.creative-tim.com/" target="_blank">Creative Tim</a>.
                </div>
            </div>
        </footer>*@



    </div>


    <div class="full-page2 pricing-page section-image" style="background-color:rgba(0,0,0,.6)">



        <div class="content">

            <div class="container">


                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <h2 class="title">We Have The Best Property Plan For You</h2>
                        <h5 class="description">
                            &nbsp;
                        </h5>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="card card-pricing card-plain">

                            <h6 class="card-category"> 3 Bedroom Flat in Magodo</h6>

                            <div class="card-body">

                                <div class="card-icon icon-warning ">
                                   @* <i class="now-ui-icons media-1_button-power"></i>*@
                                    <img width="245" height="108" src="../../assets/img/jwel-bungalow.jpg">
                                </div>
                                <h3 class="card-title">N35 Million</h3>

                                <ul>
                                    <li>Serene Location</li>
                                    <li>2 Bedroom Boy's Quarters</li>
                                </ul>

                            </div>


                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-round btn-neutral btn-warning">Buy Now</a>
                            </div>

                        </div>


                    </div>

                    <div class="col-lg-3 col-md-6">

                        <div class="card card-pricing card-plain">

                            <h6 class="card-category">Semi Detached Duplex Ikeja GRA</h6>

                            <div class="card-body">

                                <div class="card-icon icon-primary ">
                                    @*<i class="now-ui-icons objects_diamond"></i>*@
                                    <img width="245" height="108" src="../../assets/img/jwel-bungalow.jpg">
                                </div>
                                <h3 class="card-title">N130 Million</h3>

                                <ul>
                                    <li>Easily Accessible</li>
                                    <li>Click for more details</li>
                                </ul>

                            </div>


                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-round btn-primary">Buy Now</a>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6">


                        <div class="card card-pricing card-plain">

                            <h6 class="card-category"> 6 room Duplex in Maryland</h6>

                            <div class="card-body">

                                <div class="card-icon icon-success ">
                                    @* <i class="now-ui-icons objects_diamond"></i>*@
                                    <img width="245" height="108" src="../../assets/img/jwel-bungalow.jpg" >
                                </div>
                                <h3 class="card-title">N150 Million</h3>


                                <ul>
                                    <li>Swimming pool with parking space</li>
                                    <li>&nbsp;</li>
                                </ul>

                            </div>


                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-round btn-neutral btn-success">Buy Now</a>
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card card-pricing card-plain">

                            <h6 class="card-category"> 3 Bedroom Flat in Magodo</h6>

                            <div class="card-body">

                                <div class="card-icon icon-warning ">
                                    @*<i class="now-ui-icons media-1_button-power"></i>*@
                                    <img width="245" height="108" src="../../assets/img/jwel-bungalow.jpg">
                                </div>
                                <h3 class="card-title">N35 Million</h3>

                                <ul>
                                    <li>Serene Location</li>
                                    <li>2 Bedroom Boy's Quarters</li>
                                </ul>

                            </div>


                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-round btn-neutral btn-warning">Buy Now</a>
                            </div>

                        </div>


                    </div>

                </div>
            </div>

        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav>
                    <ul>
                        <li>
                            <a href="https://www.creative-tim.com/">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://presentation.creative-tim.com/">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com/">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>, Designed by <a href="https://www.invisionapp.com/" target="_blank">Invision</a>. Coded by <a href="https://www.creative-tim.com/" target="_blank">Creative Tim</a>.
                </div>
            </div>
        </footer>



    </div>

</div>


@* <div class="full-page pricing-page section-image" style="margin-top:700px">
        <div class="content">

            <div class="container">

                <div class="row" id="row-image">
                    <div class="col-md-12">
                        <div class="card card-login card-plain">

                            <div class="card-header ">
                                <div class="logo-container">
                                    <img src="../../assets/img/now-logo.png" alt="">
                                </div>
                            </div>

                            <div class="card-body ">
                                <div class="pull-left">
                                    <h6><a href="#pablo" class="link footer-link">Search Property</a></h6>
                                </div>
                                <br />
                                <br />
                                <div class="input-group no-border form-control-lg">
                                    <span class="input-group-addon">
                                        <i class="now-ui-icons users_circle-08"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Enter City or State...">
                                </div>
                            </div>

                            <div class="card-body ">
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="input-group no-border form-control-lg">
                                            <span class="input-group-addon">
                                                <i class="now-ui-icons text_caps-small"></i>
                                            </span>
                                            <input type="text" placeholder="Type..." class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="input-group no-border form-control-lg">
                                            <span class="input-group-addon">
                                                <i class="now-ui-icons text_caps-small"></i>
                                            </span>
                                            <input type="text" placeholder="Bed..." class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="input-group no-border form-control-lg">
                                            <span class="input-group-addon">
                                                <i class="now-ui-icons text_caps-small"></i>
                                            </span>
                                            <input type="text" placeholder="Min Price..." class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="input-group no-border form-control-lg">
                                            <div class="input-group no-border form-control-lg">
                                                <span class="input-group-addon">
                                                    <i class="now-ui-icons text_caps-small"></i>
                                                </span>
                                                <input type="text" placeholder="Max Price..." class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="card-footer ">
                                <div class="row">

                                    <div class="col-md-4">

                                        &nbsp;

                                    </div>
                                    <div class="col-md-4">

                                        <a href="#pablo" class="btn btn-primary btn-round btn-lg btn-block mb-3">Search</a>

                                    </div>
                                    <div class="col-md-4">

                                        &nbsp;

                                    </div>

                                </div>


                                <div class="pull-left">
                                    <h6><a href="#pablo" class="link footer-link">Create Account</a></h6>
                                </div>

                                <div class="pull-right">
                                    <h6><a href="#pablo" class="link footer-link">Need Help?</a></h6>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

                <br />

                <br />
                <br />
                <br />

                <br />
                <br />


                <br />
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <h2 class="title">We Have The Best Property Plan For You</h2>
                        <h5 class="description">
                            You have Free Unlimited Updates and Premium Support on each package.
                        </h5>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="card card-pricing card-plain">

                            <h6 class="card-category"> Bravo Pack</h6>

                            <div class="card-body">

                                <div class="card-icon icon-warning ">
                                    <i class="now-ui-icons media-1_button-power"></i>
                                </div>
                                <h3 class="card-title">10$</h3>

                                <ul>
                                    <li>Complete documentation</li>
                                    <li>Working materials in Sketch</li>
                                </ul>

                            </div>


                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-round btn-neutral btn-warning">Add to Cart</a>
                            </div>

                        </div>


                    </div>

                    <div class="col-lg-3 col-md-6">

                        <div class="card card-pricing ">

                            <h6 class="card-category"> Alpha Pack</h6>

                            <div class="card-body">

                                <div class="card-icon icon-primary ">
                                    <i class="now-ui-icons objects_diamond"></i>
                                </div>
                                <h3 class="card-title">69$</h3>

                                <ul>
                                    <li>Working materials in EPS</li>
                                    <li>6 months access to the library</li>
                                </ul>

                            </div>


                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-round btn-primary">Add to Cart</a>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6">


                        <div class="card card-pricing card-plain">

                            <h6 class="card-category"> Charlie Pack</h6>

                            <div class="card-body">

                                <div class="card-icon icon-success ">
                                    <i class="now-ui-icons media-2_sound-wave"></i>
                                </div>
                                <h3 class="card-title">69$</h3>


                                <ul>
                                    <li>Working materials in PSD</li>
                                    <li>1 year access to the library</li>
                                </ul>

                            </div>


                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-round btn-neutral btn-success">Add to Cart</a>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6">



                        <div class="card card-pricing card-plain">

                            <h6 class="card-category"> Extra Pack</h6>

                            <div class="card-body">

                                <div class="card-icon icon-danger ">
                                    <i class="now-ui-icons education_atom"></i>
                                </div>
                                <h3 class="card-title">
                                    159$
                                </h3>


                                <ul>
                                    <li>Complete documentation</li>
                                    <li>2GB cloud storage</li>
                                </ul>

                            </div>


                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-round btn-neutral btn-danger">Add to Cart</a>
                            </div>

                        </div>


                    </div>

                </div>
            </div>

        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav>
                    <ul>
                        <li>
                            <a href="https://www.creative-tim.com/">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://presentation.creative-tim.com/">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com/">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>, Designed by <a href="https://www.invisionapp.com/" target="_blank">Invision</a>. Coded by <a href="https://www.creative-tim.com/" target="_blank">Creative Tim</a>.
                </div>
            </div>
        </footer>

    </div>*@

@*
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <ul class="nav nav-pills nav-pills-danger nav-pills-icons flex-column" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#chequetype" role="tablist">
                                <i class="now-ui-icons business_money-coins"></i>
                                Cheque Type
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#transfercharges" role="tablist">
                                <i class="now-ui-icons business_money-coins"></i>
                                Transfer Charges
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#reversalPrivilege" role="tablist">
                                <i class="now-ui-icons business_bulb-63"></i>
                                Grant Reversal Privilege
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#bankdraft" role="tablist">
                                <i class="now-ui-icons business_bulb-63"></i>
                                Bank Draft
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#chequecharges" role="tablist">
                                <i class="now-ui-icons business_money-coins"></i>
                                Cheque Charges / COT Setup
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#stampduty" role="tablist">
                                <i class="now-ui-icons business_bulb-63"></i>
                                Stamp Duty Setup
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#systemnarration" role="tablist">
                                <i class="now-ui-icons business_bulb-63"></i>
                                System Narration Setup
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-9 px-0">
                    <div class="tab-content">
                        <div class="tab-pane active" id="chequetype">
                            @Html.Partial("_ChequeType")
                        </div>
                        <div class="tab-pane" id="transfercharges">
                            @Html.Partial("_TransferCharges")
                        </div>
                        <div class="tab-pane" id="reversalPrivilege">
                            @Html.Partial("_GrantReversalPrivilege")
                        </div>
                        <div class="tab-pane" id="bankdraft">
                            @Html.Partial("_AddBankDraftSetup")
                        </div>
                        <div class="tab-pane" id="chequecharges">
                            @Html.Partial("_AddChequeCOTCharges")
                        </div>
                        <div class="tab-pane" id="stampduty">
                            @Html.Partial("_StampDutySetup")
                        </div>
                        <div class="tab-pane" id="systemnarration">
                            @Html.Partial("_SystemNarrationSetup")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> *@

@section Scripts {

    <environment include="Development">
        <script src="~/js/modules/ChequeType.js"></script>
        <script src="~/js/modules/GrantReversalPrivilege.js"></script>
        <script src="~/js/modules/transfercharges.js"></script>
        <script src="~/js/modules/bankdraft.js"></script>
        <script src="~/js/modules/ChequeCOTCharges.js"></script>
        <script src="~/js/modules/StampDuty.js"></script>
        <script src="~/js/modules/SystemNarration.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/modules/ChequeType.min.js"></script>
        <script src="~/js/modules/GrantReversalPrivilege.min.js"></script>
        <script src="~/js/modules/transfercharges.min.js"></script>
        <script src="~/js/modules/bankdraft.min.js"></script>
        <script src="~/js/modules/ChequeCOTCharges.min.js"></script>
        <script src="~/js/modules/StampDuty.min.js"></script>
        <script src="~/js/modules/SystemNarration.min.js"></script>
    </environment>

}
